
.box{
    background-color: greenyellow;
    size: 9000px;
    top: 10.5px;
    bottom: 100px;
}
#box_title{
    right: 10px;
    align-items: center;
    color: red;
    left: 10px;
    padding: 50px;
}